# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Game Plus Jam.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Max_l\Downloads\Unity project\Game Plus Jam\.idea\.idea.Game Plus Jam\.idea/dataSources/
/dataSources.local.xml
